<div class="container">
  <div class="row justify-content-center mt-5">
    <form class="col-md-5" *ngIf="!authService.getUser()">
      <div class="bg-danger text-white">
        {{mensajeError}}
      </div>
      <!-- SI ESTA LOGEADO EL USUARIO MUESTRA EL FORM, SINO EL BOTON html -->
      <div class="form-group">
        <label for="username">User</label>
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" #username>
        <!-- asignamos en una variable el elemento html -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" #password>
      </div>      
      <button type="submit" class="btn btn-primary btn-block" (click)="login(username.value, password.value)">Entrar
        !</button>
    </form>
    <button type="submit" class="btn btn-outline-primary" (click)="logout()" *ngIf="authService.getUser()">Salir
      !</button>
  </div>
</div>