<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['./main']">Main</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./mas-info']">Mas Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./', 5]">Vuelo 5</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Vuelos Works</h1>
<router-outlet></router-outlet>