<!--The content below is only a placeholder and can be replaced.-->
<div class="container content">

  <div class="page-header">
    <div style="float:right">
      <select (change)="translateService.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="container">
      <h1>Routing-Simple</h1>
      <nav class="navbar navbar-dark bg-dark">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1>{{title}} <b [innerHtml]="'HOLA' | translate"></b></h1>
  </div>
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha:{{time | async}}